*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* colors */
.color-olive {
  background-color: #b7b12a;
}
.color-pink {
  background-color: #f9bbcb;
}
.color-azure {
  background-color: #92daff;
}
.color-like-grey {
  background-color: #ECEBE0;
}
.color-yellow {
  background-color: #FFF856;
}
.white {
  color: white;
}
/* bgs */
.bgi-girl {
  background-image: url(img/Frame\ 299.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
/* main block with top and bottom sides */
.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}
.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.top p {
  margin: 0;
  padding: 40px;
}

.bottom {
  width: 100%;
  text-align: center;
  /* margin: 151px 35px 10px 38px; */
  padding: 100px;
}

.bottom h1 {
  font-size: clamp(244px, 20vw, 320px);
  font-weight: 800;
  letter-spacing: -20px;
}

/* fonts */
.syne-400 {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #000000;
}
.syne-800 {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: clamp(244px, 20vw, 307px);
  line-height: 0.9;
  color: #000000;
}

.syne-700 {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.ibm-plex-serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  letter-spacing: -0.1%;
}
.ibm-plex-serif-medium {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -3%;
}

/* container with stretch */
.container {
  display: flex;
  align-items: stretch;
}


/* divs with double blocks */
img {
  width: 100%;
  height: 100%;
  display: block;
}
.left {
  flex: 0 0 60%;
}
.right {
  flex: 0 0 40%;
  background-color: #f9bbcb;
  padding: 75px 60px 263px 48px;
}

/* font-sizes */
.f-s-86 {
  font-size: 86px;
}

.f-s-370 {
  font-size: 370px;
}

.f-s-24 {
  font-size: 24px;
}

.f-s-28 {
  font-size: 28px;
}
.f-s-189 {
  font-size: 189px;
}
.f-s-1000 {
  font-size: 1000px;
}

/* paddings */
.p-60 {
  padding: 60px;
}

/* 50/50 block */
.flex-50 {
  flex: 0 0 50%;
  text-align: center;
}

.left-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.right-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

/* specials */
.special-width .text-group {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rect {
  width: 605px;
  height: 605px;
  margin: 37px auto;
}
.radial {
  background:
    radial-gradient(ellipse at top center, #92daff 69%, transparent 60%) top / 100% 45% no-repeat,
    radial-gradient(ellipse at bottom center, #92daff 69%, transparent 60%) bottom / 100% 45% no-repeat 
    #7D791F;
}

.square {
	width: 816.5px;
	height: 796px;
  background: linear-gradient(135deg, #B5100A 50%, transparent 50%);
  
}